body {
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
}

main{
    height: 100%;
}



#game-screen {
    visibility:hidden;
    padding: 30px;
    background-color: #ebebeb;
    cursor: none;
    font-family: 'Space Grotesk', sans-serif;
    cursor: none;
}

nav {
    display: flex;
    visibility: hidden;
    font-size: 1.4rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
}

ul{
    font-weight: 600;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px

}

.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    font-weight: 600;

}

.live{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    font-weight: 600;
}

.score-img {
    width: 40px;
}

.live-img{
    width: 25px;
}

span{
    font-weight: 300;
}

#start-screen{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-img {
    display: flex;
    width: 120px;
    transform: rotate(-45deg);
}

#end-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
     
.end-img {
    display: flex;
    width: 250px;
}

button {
    appearance: none;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    background-color: transparent;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  

}



